


@media screen and (min-width: 1079px){
    #container {
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1100px){
    .one, .two {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1078px){
    #featured {
        justify-content: flex-start;
        
    }
    
    #header{

    }
    
    #hero{
        margin-top: 0.75em;
    }

}

@media screen and (max-width: 740px){
    
    #mugshot{
        width: 90px;
        height: 90px;
    }

    #featured {
        flex-flow: column wrap;
    }

    #featured_header{
        font-size: 1.8em;
    }

    .proj_title{
        font-size: 1.5em;

    }
   
    #header{
        align-items: center;
    }

    #title_block{
        align-items: center;
    }

    #name{
        font-size: 1.5em;

    }

    #sub_title{
        font-size: .72em;
    }
    
    #sub_sub_title{
        display: none;
    }
 
    #linkage{
        font-size: 1em;
    }

    #hero{
        margin-top: 0.3em;
    }

    .hrule{
        margin-top: 12px;
        height: 1px;
    }    

    .proj_link{
        font-size: .65em;
    }
}

@media screen and (max-width: 600px){
    
    #featured_header{
        font-size: 1.3em;
    }

    .proj_title{
        font-size: 1.25em;

    }

    .featured_pic{
        height: 153px;
        width: 235px;

    }
}